= content_for :head_scripts do
  = stylesheet_link_tag "application"
  = yield :custom_head_scripts

= content_for :header do
  = stylesheet_link_tag "layout/header"
  = render 'layouts/header'
  -# = render 'layouts/flash_messages'

= content_for :container do
  = stylesheet_link_tag "layout/application"
  = yield

= content_for :footer do
  -# = render 'layouts/footer'

= content_for :footer_scripts do
  = javascript_include_tag "application"
  = yield :custom_footer_scripts

= render 'layouts/application'
